* {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ffff;
}

.main_nav {
    z-index: 999;
    position: fixed;
    display: flex;
    height: 5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 900;
    background-color:#1b1a21c5 ;
}

.main_nav>a>img {
    margin-left: 2rem;
}

.nav_link_1,
.nav_link_2 {
    display: flex;
    align-items: center;
}

.nav_link_1>li {
    margin-left: 1.5rem;
}

.nav_link_2>li {
    margin-right: 1rem;
}

.nav_link_2 li:nth-child(2) {
    border-radius: 3px;
    padding: 8px 25px;
    color: #fff;
    border: 2px solid #fff;
}


/*  =====================section - 1 ============ */

.section_1 {
   
    height: 100vh;
    background-color: #1B1A21;
}

.section_1>img:nth-child(1) {
    position: relative;
    width: 100%;
    top: 22%;
}

.sec-abt {
    display: flex;
    
}

.sec-abt>div:nth-child(1) {
    z-index: 50;
    margin-left: 150px;
}

.sec-abt>div:nth-child(2) > img {
    margin-right: 200px;
    width: 600px;
    /* height: 700px; */
}

.sec-abt > div > h2 {
    font-size: 1.6rem;
    color: #F801F8;
}

.sec-abt > div > h1 {
    font-size: 2.5rem;
    margin: 10px auto;
}

.sec-abt > div > p {
    font-size: 1.3rem;
    margin-bottom: 20px;
    word-spacing: 2px;
}


.sec-abt  button {
    margin: 10px 10px auto auto;
    font-weight: 700;
    font-size: 15px;
    border-radius: 3px;
    border: 2px solid #fff;
    width: 160px;
    height: 40px;
    color: #fff;
    background-color: #1B1A21;
}

.start-btn {
    border: inherit !important;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(152,16,186,1) 0%, rgba(143,13,200,1) 57%, rgba(106,0,255,1) 100%) !important;
}


.section_1>img {
    position: relative;
    top: 84px;
    width: 100%;
}



.section_2 {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section_2 > img {
    position: absolute ;
    width: 95%;
}


.section_2 > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(134, 128, 128, 0.758) ;
}

.section_2 > div > button {
    
    border: 1px solid #777582;
    font-weight: 750;
    font-size: 15px;
    color: rgb(66, 65, 65);
    border-radius: 3px;
    width: 200px;
    height: 40px;
   
    
}
.section_2 > div:hover {
    visibility: visible !important;
}


